<% include ../layouts/header.ejs %>
<div class="jumbotron">
    <h2 class="text-center">Create Admin</h2>
    <div id="content " class="container mt-4">


        <form action="/admin/adminCreate" method="post">

            <fieldset class="form-group">
                <legend class="lead">Your Info</legend>

                <div class="form-group">
                    <label class="form-control-label" for="name">First Name</label>
                    <input class="form-control" type="text" id="name" name="firstName" placeholder="First Name"
                        value="">
                </div><!-- form-group -->

                <div class="form-group">
                    <label class="form-control-label" for="name">Last Name</label>
                    <input type="text" class="form-control" id="name" name="lastName"
                        placeholder="Last Name" value="">
                </div><!-- form-group -->

                <div class="form-group">
                    <label class="form-control-label" for="name">Username</label>
                    <input type="text" class="form-control" id="name" name="username" placeholder="Username" value="">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="name">Email</label>
                    <input type="text" class="form-control" id="name" name="email" placeholder="Email"
                        value="">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="name">Password</label>
                    <input type="text" class="form-control" id="name" name="password" placeholder="Password"
                        value="">
                </div>
                <div id="operations">
                    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
                </div>
            </fieldset><!-- fieldset -->
        </form>
        <footer class="page-footer font-small blue pt-4">
            <div class="footer-copyright text-center py-3">Copyright 2019, Vinsmoke </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        </body>

</html>