<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Sports</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href='/sports/public/index.php'>
        <img src="../../images/sports.png" style="width: 30px" alt="Sports MS">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/sports/public/index.php">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Sports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/sports/public/indoor_games.php">Indoor Games</a>
                    <a class="dropdown-item" href="/sports/public/outdoor_games.php">Outdoor Games</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Register
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/sports/public/admin/players/new.php">Student</a>
                    <a class="dropdown-item" href="/sports/public/admin/coach/new.php">Coach</a>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/sports/public/admin/sponsors/new.php">Sponsorship</a>
            </li>

            <a class="nav-item nav-link" href="/sports/public/admin/index.php">Admin</a>


        </ul>
    </div>
</nav>

<div class="jumbotron">
    <h2 class="text-center">Register Player</h2>
    <div id="content " class="container mt-4">


        <form action="/admin/playerCreate" method="post">

            <fieldset class="form-group">
                <legend class="lead">Your Info</legend>

                <div class="form-group">
                    <label class="form-control-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="playerName" placeholder="Your Name"
                        value="">
                </div><!-- form-group -->

                <div class="form-group">
                    <label class="form-control-label" for="name">USN</label>
                    <input type="text" class="form-control" id="name" name="usn"
                        placeholder="USN" value="">
                </div><!-- form-group -->

                <div class="form-group">
                    <label class="form-control-label" for="name">Sports</label>
                    <input type="text" class="form-control" id="name" name="sports" placeholder="Sports" value="">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="name">Role</label>
                    <input type="text" class="form-control" id="name" name="role" placeholder="Role"
                        value="">
                </div>
                <div id="operations">
                    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
                </div>
            </fieldset><!-- fieldset -->
        </form>
        <footer class="page-footer font-small blue pt-4">
            <div class="footer-copyright text-center py-3">Copyright 2019, Vinsmoke </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        </body>

</html>