<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Sports</title>
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href='/'>
      <img src="../../img/sports.png" style="width: 30px" alt="Sports MS" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="./playerCreate">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./coachCreate">Coach</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./sponsorCreate">Sponsors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <!-- <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li> -->
      </ul>
    </div>
    <!-- <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        
                      </form>-->
    <a class="btn btn-outline-info my-2 my-sm-0" style="margin-right: 20px;" href='./index'>Admin</a>
    <!-- <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Sign in</button> -->
  </nav>
  <% if(error) { %>
    <div class="alert alert-dark" role="alert">
     <%= error %>
    </div>
    <%  } %>
  </br>
  <div id="content" class="container">

    <form action='login' class="form-signin" method="post">
      <img class="rounded mx-auto d-block" src="../img/sports.png" alt="" width="72" height="72" />

      <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>

      <label>Username</label>
      <input type="email" name='email' class="form-control" placeholder="Username" required />

      <label>Password</label>
      <input type="password" name='password' class="form-control" placeholder="Password" required />
      </br>
      <div>
        <button class="btn btn-lg btn-primary " type="submit">Sign in</button>
      </div>

    </form>
  </div>
  <footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">Copyright 2019, Vinsmoke </div>
  </footer>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
</body>

</html>